Source: chromium-embedded-131
Section: libs
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake (>= 3.21),
 libasound2,
 libgtkmm-3.0-dev,
 libnspr4,
 libnss3,
 libxi-dev,
Standards-Version: 4.6.2
Homepage: https://bitbucket.org/chromiumembedded/cef

Package: libcef131
Architecture: amd64 arm64 armhf
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Recommends:
 libcef131-data (= ${binary:Version})
Description: The Chromium Embedded Framework
 The Chromium Embedded Framework (CEF) is a simple framework for embedding
 Chromium-based browsers in other applications.
 .
 CEF is a BSD-licensed open source project founded by Marshall Greenblatt in
 2008 and based on the Google Chromium project. Unlike the Chromium project
 itself, which focuses mainly on Google Chrome application development, CEF
 focuses on facilitating embedded browser use cases in third-party
 applications. CEF insulates the user from the underlying Chromium and Blink
 code complexity by offering production-quality stable APIs, release branches
 tracking specific Chromium releases, and binary distributions. Most features
 in CEF have default implementations that provide rich functionality while
 requiring little or no integration work from the user.
 .
 This package contains the CEF library.

Package: libcef131-data
Architecture: amd64 arm64 armhf
Multi-Arch: same
Description: The Chromium Embedded Framework
 The Chromium Embedded Framework (CEF) is a simple framework for embedding
 Chromium-based browsers in other applications.
 .
 CEF is a BSD-licensed open source project founded by Marshall Greenblatt in
 2008 and based on the Google Chromium project. Unlike the Chromium project
 itself, which focuses mainly on Google Chrome application development, CEF
 focuses on facilitating embedded browser use cases in third-party
 applications. CEF insulates the user from the underlying Chromium and Blink
 code complexity by offering production-quality stable APIs, release branches
 tracking specific Chromium releases, and binary distributions. Most features
 in CEF have default implementations that provide rich functionality while
 requiring little or no integration work from the user.
 .
 This package contains resources required by the library.

Package: libcef131-dev
Architecture: amd64 arm64 armhf
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libcef131 (= ${binary:Version})
Description: The Chromium Embedded Framework
 The Chromium Embedded Framework (CEF) is a simple framework for embedding
 Chromium-based browsers in other applications.
 .
 CEF is a BSD-licensed open source project founded by Marshall Greenblatt in
 2008 and based on the Google Chromium project. Unlike the Chromium project
 itself, which focuses mainly on Google Chrome application development, CEF
 focuses on facilitating embedded browser use cases in third-party
 applications. CEF insulates the user from the underlying Chromium and Blink
 code complexity by offering production-quality stable APIs, release branches
 tracking specific Chromium releases, and binary distributions. Most features
 in CEF have default implementations that provide rich functionality while
 requiring little or no integration work from the user.
 .
 This package contains development files.
